<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <thead>
      <tr><th>Initiator</th><th>Counterparty</th><th>Timestamp</th><th>Type</th></tr></thead>
      <tbody>
      <tr *ngFor="let block of recent_blocks">
        <td>{{block.public_key.slice(-8)}}</td>
        <td>{{block.link_public_key.slice(-8)}}</td>
        <td>{{block.timestamp | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td><span class="badge badge-pill badge-primary">{{block.type}}</span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
