<app-header></app-header>

<div class="row row-margin-top">
  <div class="col-md-10 offset-1">
    <h3>Live interaction graph</h3><br/>
    <div class="alert alert-info">
      The interaction graph shows which users have interacted with each other. We draw an edge between two users when they interacted once.
    </div>

    <img src="http://explorer.tribler.org/interaction_graph.png" width="100%" />

    <br/>
    <p><a href="http://explorer.tribler.org/interaction_graph.pdf" target="_blank">Download a high-resolution .pdf file</a></p>
  </div>
</div>
