<div class="row row-margin-top text-center">
  <div class="col-sm-2">
    <div class="card card-body bg-light">
      <b>Blocks</b>
      <div [hidden]="!showStatisticsLoader" class="loader"></div>
      {{statistics["num_blocks"]}}
    </div>
  </div>

  <div class="col-sm-2">
    <div class="card card-body bg-light">
      <b>Unique Users</b>
      <div [hidden]="!showStatisticsLoader" class="loader"></div>
      {{statistics["num_peers"]}}
    </div>
  </div>

  <div class="col-sm-2">
    <div class="card card-body bg-light">
      <b>TrustChain Size</b>
      <div [hidden]="!showStatisticsLoader" class="loader"></div>
      {{statistics["size"] | bytes }}
    </div>
  </div>
</div>
